<!DOCTYPE html>
<html lang="en">

<head>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	rel="stylesheet">
<title>React App</title>
<style>
* {
	box-sizing: border-box;
	font-family: Roboto;
}

ul {
	list-style-type: none;
}

li {
	float: below;
}

textarea {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	margin-top: 10px;
	margin-left: 10px;
	width: 500px;
	height: 100px;
}

.radio {
	border: 0px;
	width: 10%;
	height: 1.5rem;
	border-radius: 4px;
	
}

.checkbox {
	border: 0px;
	width: 10%;
	height: 1.5rem;
	border-radius: 4px;
	
}

.submit {
	width: 50%;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	align-items: center;
	background: blue;
	margin-left: 10rem;
	font-size: larger;
}

/* div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      
    } */
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: auto;
	margin: 0 auto;
	box-shadow: 3px 3px 15px #db4f7c;
}

.form-signin-heading {
	text-align: center;
}
</style>

</head>

<body>
	<br />
	<br />

	<!-- <h1>Hello world!!!</h1> -->
	<div class="center">
		<form method="POST" action="http://localhost:8088/postFeedbackNew">

			<h2 class="form-signin-heading">Please Fill the Feedback</h2>
			<ul>
				<li th:each="questionObj: ${questionsList}">
					<ul>
						<li th:if="${questionObj.optionType == 'TEXT'}"><label
							th:text="${questionObj.question}">Default body!</label><br>
						<br> <textarea class="textAreaClass" min_length='0'
								max_length='5000' th:name="${questionObj.id}"
								placeholder="Write ...." rows="4" cols="20"></textarea></li>

						<li th:if="${questionObj.optionType == 'RADIO'}"><label
							th:text="${questionObj.question}">Default body!</label><br>
						<br>
							<ul>
								<li th:each="option: ${questionObj.options}"><input
									class="radio" type="radio" th:id="${option.id}" th:name="${questionObj.id}"
									th:value="${option.text}"> <label
									th:text="${option.text}"></label><br></li>
							</ul></li>

						<li th:if="${questionObj.optionType == 'CHECKBOX'}"><label
							th:text="${questionObj.question}">Default body!</label><br>
						<br>
							<ul>
								<li th:each="option: ${questionObj.options}"><input
									class = "checkbox" type="checkbox" th:id="${option.id}" th:name="${option.id}"
									th:value="${option.text}"> <label
									th:text="${option.text}"> </label><br></li>
							</ul></li>
					</ul>

				</li>
				<input class="submit" type="submit" />
			</ul>

		</form>
	</div>
</body>

</html>