<!DOCTYPE html>
<html lang="en">

<head>
  <title>React App</title>
  <style>
    textarea.form-control {
      width: 300px;
      height: 80px;
    }

    div.star-rating {
      font-family: 'FontAwesome';
      /* margin: 50px auto; */

    }

    body {
      text-align: center;
      background-color: #F9F9F9;
    }

    h3,
    p {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
      margin: 0 0 10px 0;
    }

    .subtext {
      font-size: 12px;
      margin-top: 10px;
    }

    /*
	Ratings Stars
	(with as little code as possible)
	Based on Chris Coyier's code - http://css-tricks.com/star-ratings/
*/
    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      font-size: 36px;
    }

    .rating a {
      text-decoration: none;
      color: #DEDEDE;
      text-shadow: 1px 1px 1px #666666;
    }

    a:hover {
      color: #FDD017 !important;
    }

    .rating>a {
      display: inline-block;
      position: relative;
      width: 1.1em;
    }

    .rating>a:hover,
    .rating>a:hover~a {
      color: #FDD017 !important;
    }

    .rating>a:hover:before,
    .rating>a:hover~a:before {
      content: "\2605";
      position: absolute;
      left: 1;
      color: #FDD017;
    }
  </style>
</head>

<body>
  <br />
  <br />
  <h3>Please Provide feedback</h3>
  <table width="320" border="0" align="center" cellpadding="20" cellspacing="0"
    style="text-align: center; background-color: #FFFFFF;">
    <tr>
      <td>
        <p th:text="${question}">Default body!</p>
        <div class="rating"> <a href="http://localhost:8088/postFeedback/5"
            title="5">★</a> <a href="http://localhost:8088/postFeedback/4"
            title="4">★</a> <a href="http://localhost:8088/postFeedback/3"
            title="3">★</a> <a href="http://localhost:8088/postFeedback/2"
            title="2">★</a> <a href="http://localhost:8088/postFeedback/1"
            title="1">★</a></div>
        <p><span class="subtext">(select 1-5 stars)</span></p>
      </td>
    </tr>
  </table>
</body>

</html>