<!DOCTYPE html>
<html lang="en">

<head>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
	rel="stylesheet">
<title>React App</title>
<style>
* {
	box-sizing: border-box;
	font-family: Roboto;
}

ul {
	list-style-type: none;
}

li {
	float: below;
}

textarea {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	border: 1px solid #db4f7c;
	margin-top: 10px;
	margin-left: 10px;
	width: 500px;
	height: 100px;
}

input[type=radio] {
	width: 5%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=checkbox] {
	width: 5%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	width: 50%;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	align-items: center;
	background: #db4f7c;
	margin-left: 8rem;
	font-size: larger;
}

input[type=submit]:hover {
	opacity: 0.8;
}

/* div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      
    } */
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	box-shadow: 3px 3px 15px #db4f7c;
}

.form-signin-heading {
	text-align: center;
}
</style>

</head>

<body>
	<br />
	<br />

	<!-- <h1>Hello world!!!</h1> -->
	<div class="center">
		<form method="POST" action="http://localhost:8088/postFeedback">

			<h2 class="form-signin-heading">Please Fill the Feedback</h2>

			<label th:text="${question1}">Default body!</label><br>
			<br>
			<textarea class="textAreaClass" min_length='0' max_length='5000'
				name="feedbackText" placeholder="Write ...." rows="4" cols="20"></textarea>
			<br>
			<br> <label th:text="${question2}">Default body!</label><br>
			<br>

			<ul>
				<li th:each="option: ${options}"><input type="radio"
					th:id="${option}" name="appLike" th:value="${option}"> <label
					th:text="${option}"></label><br></li>
			</ul>


			<label th:text="${question3}">Default body!</label><br>
			<br>

			<ul>
				<li th:each="option: ${options2}"><input type="checkbox"
					th:id="${option}" name="checkAnswer" th:value="${option}">
					<label th:text="${option}"> </label><br></li>
			</ul>

			<label th:text="${question4}">Default body!</label><br>
			<br>

			<ul>
				<li th:each="option: ${options3}"><input type="radio"
					th:id="${option}" name="rating" th:value="${option}"> <label
					th:text="${option}"></label><br></li>
			</ul>

			<input type="submit" />
		</form>
	</div>
</body>

</html>