<style>
body {
	text-align: center;
	background-color: white;
}

div {
	padding: 10px 518px 20px 20px;
	max-width: 100px;
	margin: auto;
}
.responsive {
	padding: 20;
	width: 48%;
	height: auto;
	width: 48%;
}
.page {
	padding: 20px 20px 240px 20px;
	background: #f8f8fa;
	max-width: 600px;
	border: solid 1px #ccc;
	margin: auto;
}
p {
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 40px;
}
</style>
<div></div>
<div class="page">
	<p>Thanks For your feedback!</p>
	<img class="responsive"
		src="https://retail.starhealth.in/assets/images/instant_purchase/img/logo.png" />

</div>
</table>